.chartContainer,
[data-highcharts-chart="1"] {
    flex-basis: 70%;

}
.infoBox-container {
    flex: 0 0 30%
}

/* Helper Classes  */
.text-green {
    color: #2aa119;
}
.text-red {
    color: #d94651
}