body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.app {
    overflow: hidden;
}
.app-header  {
    text-align: center;
}
.app-content {
    height: 100%;
}
.chartContainer { 
    text-align: center;
}

.infoBox-container {
    margin-top: -2rem;
    padding: 2rem;
}

@media screen and (min-width: 860px)  {
    .app {
        height: 100vh;
    }
    .app-content {
        display: flex;
    }
    .chartContainer {
        flex-basis: 70%;
        /* margin-top: 100px; */
    }

    .infoBox-container {
        margin-top: 0;
        flex: 0 0 30%;
    }
}

/* .imgEmptyChartPlaceholder {
    width: 100%;
    overflow: hidden;
    filter: blur(5px);
    -moz-animation:blurin 3s;
    -webkit-animation:blurin 3s;
    animation:blurin 3s ease infinite;
}
.imgEmptyChartPlaceholder img {
    display: inline-block;
    width: 100%;
    height: auto;
} */


/* Helper Classes  */
.text-green {
    color: #2aa119;
}
.text-red {
    color: #d94651
}
