body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.app {
    overflow: hidden;
}
.app-header  {
    text-align: center;
}
.app-content {
    height: 100%;
}
.chart-container { 
    text-align: center;
}

.infoBox-container {
    margin-top: -2rem;
    padding: 2rem;
}

@media screen and (min-width: 860px)  {
    .app {
        height: 100vh;
    }
    .app-content {
        display: flex;
    }
    .chart-container {
        flex-basis: 70%;
        /* margin-top: 100px; */
    }

    .infoBox-container {
        margin-top: 0;
        flex: 0 0 30%;
    }
}



/* Helper Classes  */
.text-green {
    color: #2aa119;
}
.text-red {
    color: #d94651
}
